#bookImage{
    width: 5;
    height: 10;
}

#CatchWordStyle{
    font-size:larger;
    font-weight: bolder;
    font-style: oblique;
}

#CatchCardStyle{
    background-color: lightgreen
}

#ProductDetails-ContentStyle{
    font-weight: bolder;
    font-size:small
}

#ProductDetails-InnerCardStyle{
    border-color: darkgray;
    border-radius: 0px;
    background-color: whitesmoke;
    border:'none';
    box-shadow:'0px 1px 1px 0px #888888';
}